## Categorical Embedder
### Example

In [3]:
# Necessary imports
import categorical_embedder as ce

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
# Reading data
df = pd.read_csv('HR_Attrition_Data.csv')
df.shape

(54808, 14)

In [5]:
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [7]:
X = df.drop(['employee_id', 'is_promoted'], axis=1)
y = df['is_promoted']

In [8]:
# ce.get_embedding_info identifies the categorical variables, # of unique values and embedding size and returns a dictionary
embedding_info = ce.get_embedding_info(X)
embedding_info

{'department': (9, 5),
 'region': (34, 17),
 'education': (3, 2),
 'gender': (2, 1),
 'recruitment_channel': (3, 2)}

In [10]:
# ce.get_label_encoded_data integer encodes the categorical variables and prepares it to feed it to neural network
X_encoded,encoders = ce.get_label_encoded_data(X)
X_encoded.head()

,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,7,31,2,0,2,1,35,5.0,8,1,0,49
1,4,14,0,1,0,1,30,5.0,4,0,0,60
2,7,10,0,1,2,1,34,3.0,7,0,0,50
3,7,15,0,1,0,2,39,1.0,10,0,0,50
4,8,18,0,1,0,1,45,3.0,2,0,0,73

In [11]:
# splitting the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X_encoded,y)

# ce.get_embeddings trains NN, extracts embeddings and return a dictionary containing the embeddings
embeddings = ce.get_embeddings(X_train, y_train, categorical_embedding_info=embedding_info, 
                            is_classification=True, epochs=100,batch_size=256)

HBox(children=(IntProgress(value=0, description='Training', style=ProgressStyle(description_width='initial')),…

In [12]:
embeddings

{'department': array([[ 0.44909748,  0.592682  , -0.2689146 , -0.6076638 , -0.47688553],
        [ 0.14439532,  0.23831578, -0.09904855, -0.1884861 , -0.23708323],
        [ 0.02280043,  0.14768346,  0.00430288, -0.05229405, -0.06076226],
        [ 0.08651688,  0.33048603, -0.10082451, -0.24717978, -0.23439746],
        [ 0.06930665,  0.26183563, -0.099448  , -0.22151738, -0.24915719],
        [ 0.3246719 ,  0.13284945, -0.49051526, -0.13767388, -0.35033587],
        [ 0.39557138,  0.6303038 , -0.31711328, -0.6432047 , -0.5024501 ],
        [ 0.105141  ,  0.00382448, -0.16800691,  0.14332129, -0.09635292],
        [ 0.5065225 ,  0.33804703, -0.4578551 , -0.3261275 , -0.34876052]],
       dtype=float32),
 'region': array([[ 0.06167015, -0.09331849, -0.00821102,  0.35873163,  0.27501398,
         -0.18806422,  0.42246535,  0.16405596,  0.10364748, -0.01732335,
          0.08967754, -0.4844684 ,  0.1706062 ,  0.07629129, -0.46060166,
         -0.250795  , -0.20905156],
        [ 0.15227915, -0.12810177,  0.04858813,  0.12176999,  0.24337043,
         -0.29888666,  0.28821293,  0.16845648,  0.09924047, -0.07546613,
          0.20567334, -0.1352939 ,  0.08037616,  0.11891732, -0.18827821,
         -0.0816901 , -0.2779371 ],
        [ 0.10410061, -0.2104857 ,  0.03398978,  0.44951865,  0.20713083,
         -0.04877395,  0.14342847,  0.26965714,  0.07883961, -0.09597544,
          0.20250317, -0.01135268,  0.21519178,  0.09570241, -0.17490706,
         -0.35628   , -0.2990015 ],
        [ 0.16129175, -0.18185025,  0.17493466,  0.26707488,  0.1694759 ,
         -0.09626276,  0.12718718,  0.21795489,  0.21134973, -0.11628247,
          0.1386758 , -0.08041578,  0.16929497,  0.18136315, -0.19477838,
         -0.20189697, -0.17830281],
        [ 0.09706695, -0.19466406,  0.09813315,  0.17285876,  0.14107579,
         -0.19056891,  0.13303407,  0.13789149,  0.19315891, -0.13101685,
          0.14132002, -0.14025746,  0.2021801 ,  0.1314787 , -0.20561455,
         -0.21507941, -0.19575128],
        [ 0.14802098, -0.17255649,  0.14310662,  0.11609807,  0.11347289,
         -0.16585284,  0.10970658,  0.12739295,  0.19427484, -0.14321955,
          0.20610353, -0.28366777,  0.15577143,  0.19353567, -0.21552865,
         -0.11984877, -0.10363703],
        [ 0.17970042, -0.18435585,  0.2475642 ,  0.04125668,  0.18393014,
         -0.2055146 ,  0.20275053,  0.12765794,  0.18785101, -0.1876641 ,
          0.16109551, -0.06933317,  0.19538549,  0.2865587 , -0.1244712 ,
         -0.04614212, -0.04774917],
        [ 0.1652677 , -0.18662676,  0.17290325,  0.23617998,  0.17689778,
         -0.18750137,  0.1188752 ,  0.14298196,  0.15700985, -0.21114749,
          0.11973537, -0.10869645,  0.12464906,  0.18343486, -0.1341778 ,
         -0.1960731 , -0.14148588],
        [ 0.3271403 , -0.20113371,  0.21159333, -0.10972808,  0.10864414,
         -0.10503934, -0.05350627,  0.06617992,  0.30653876, -0.2582119 ,
          0.20189317, -0.08169097,  0.1769267 ,  0.31721008, -0.03993533,
         -0.12251526, -0.03543968],
        [ 0.49103948, -0.2007103 ,  0.6056571 , -0.5402952 , -0.10961785,
         -0.12077125, -0.3009251 , -0.265473  ,  0.787379  , -0.27324182,
          0.14153819, -0.71441156,  0.06250548,  0.693984  ,  0.03170918,
          0.15812905,  0.21315786],
        [ 0.145392  , -0.14274164,  0.15068698,  0.22807477,  0.2243693 ,
         -0.21936256,  0.20291108,  0.19875804,  0.16094448, -0.11601669,
          0.1970405 , -0.17728642,  0.179156  ,  0.16524756, -0.2120733 ,
         -0.18664533, -0.15705594],
        [ 0.1262483 , -0.11328196,  0.0883195 ,  0.22781551,  0.22445866,
         -0.14024241,  0.23455557,  0.18774618,  0.11778355, -0.1181474 ,
          0.14379439, -0.23156083,  0.16031402,  0.11968873, -0.24753772,
         -0.16268265, -0.17190713],
        [ 0.23302501, -0.20846668,  0.1955039 ,  0.15930428,  0.15813963,
         -0.20879413,  0.15088034,  0.1160711 ,  0.19584629, -0.19314173,
          0.18014538,  0.08821156,  0.20087811,  0.24331777, -0.09434079,
         -0.16702151, -0.11515248],
        [ 0.28533554, -0.17394873,  0.28509635,  0.22203562,  0.22575945,
         -0.15222326,  0.11049732,  0.2120857 ,  0.16156977, -0.23141564,
          0.24763632,  0.22988008,  0.2439133 ,  0.2348142 , -0.02985817,
         -0.14367686, -0.16408649],
        [ 0.25052086, -0.14586733,  0.16408962,  0.0507778 ,  0.13811931,
         -0.09476005,  0.06604631,  0.15955344,  0.15546182, -0.19960758,
          0.13166466, -0.1917724 ,  0.19645979,  0.21055347, -0.13072439,
         -0.21560103, -0.14708862],
        [ 0.15596968, -0.096491  ,  0.2651417 ,  0.0172758 ,  0.15028748,
         -0.00850711,  0.01992784,  0.03281375,  0.292076  , -0.05552545,
          0.10409604, -0.48480755,  0.13718422,  0.3167684 , -0.19583265,
         -0.18808214, -0.01285333],
        [ 0.14563759, -0.20024602,  0.10641596,  0.29899475,  0.17734939,
         -0.17023069,  0.13852215,  0.3017684 ,  0.11778694, -0.16828966,
          0.24574074,  0.05353521,  0.2246284 ,  0.0889548 , -0.16901372,
         -0.3217882 , -0.32629952],
        [ 0.2638189 , -0.12104501,  0.0855846 ,  0.03768857,  0.17154141,
         -0.1629056 ,  0.11832082,  0.08007334,  0.17927748, -0.11453451,
          0.22714885, -0.33345717,  0.06720065,  0.21814711, -0.17346677,
         -0.06780529, -0.20093854],
        [ 0.25641713, -0.16766143,  0.28437874,  0.2066256 ,  0.18670245,
         -0.16507165,  0.06784681,  0.18451001,  0.13122343, -0.29931074,
          0.17858475,  0.07724513,  0.19355355,  0.23004377, -0.09734175,
         -0.12910831, -0.08001687],
        [ 0.16712832, -0.18242997,  0.2117202 ,  0.07055467,  0.12361196,
         -0.24991389,  0.17608581,  0.22188991,  0.23487635, -0.15777037,
          0.13870557,  0.00351198,  0.13455318,  0.18125626, -0.12799425,
         -0.16291897, -0.12791933],
        [ 0.18096384, -0.14182384,  0.21343406,  0.1738329 ,  0.12259424,
         -0.0726446 ,  0.04926556,  0.16455975,  0.31186566, -0.13384931,
          0.10702487, -0.07755449,  0.18760253,  0.28193462, -0.0987668 ,
         -0.14985453, -0.07982537],
        [ 0.07552038, -0.23918265, -0.02730448,  0.31189373,  0.21811438,
         -0.20897698,  0.24290127,  0.25800923,  0.09748205, -0.11501911,
          0.13102911, -0.12043046,  0.18119033,  0.01878749, -0.2620637 ,
         -0.2751533 , -0.29920864],
        [ 0.26392713, -0.20426226,  0.16867518, -0.17597376,  0.20485684,
         -0.39169973,  0.2588289 ,  0.1385429 ,  0.20912765, -0.14703502,
          0.19859625, -0.21648338,  0.03238742,  0.22506148, -0.153454  ,
         -0.02380576, -0.12335522],
        [ 0.24141465, -0.16093457,  0.23083627,  0.04343623,  0.12495948,
         -0.1838547 ,  0.12102125,  0.10463292,  0.24187995, -0.18191727,
          0.2392767 , -0.13200898,  0.16538313,  0.20711762, -0.08967044,
         -0.10814557, -0.19145034],
        [ 0.11075923, -0.18888554,  0.25069082,  0.038624  ,  0.2005392 ,
         -0.28150958,  0.16630962,  0.2176757 ,  0.15907326, -0.24305162,
          0.13209617,  0.10084943,  0.16876855,  0.2158818 , -0.09895746,
         -0.09712282, -0.21898103],
        [ 0.03361392, -0.09406326,  0.09817785,  0.2577049 ,  0.30454093,
         -0.18041614,  0.3392363 ,  0.27354133,  0.04589733, -0.05175021,
          0.18609524, -0.30759484,  0.23998573,  0.05730164, -0.4153282 ,
         -0.21307011, -0.15814604],
        [ 0.15096396, -0.13050652,  0.12978545,  0.3539185 ,  0.25473082,
         -0.15637578,  0.29674196,  0.25461993,  0.03402874, -0.15752971,
          0.19972315, -0.03535189,  0.18373075,  0.06211969, -0.19313417,
         -0.15184213, -0.24135719],
        [ 0.29311594, -0.2278486 ,  0.10147502,  0.45177343,  0.24334185,
         -0.2585309 ,  0.27289554,  0.3444534 , -0.11046959, -0.30788636,
          0.28252742,  0.527343  ,  0.18462309,  0.10991604,  0.01184443,
         -0.140023  , -0.29176837],
        [ 0.22212954, -0.0972956 ,  0.0757604 ,  0.00119282,  0.10628817,
         -0.04451968,  0.01875878,  0.04793382,  0.29772508, -0.13264635,
          0.21271782, -0.420673  ,  0.14043371,  0.2398636 , -0.14792743,
         -0.17283182, -0.13257244],
        [ 0.22231904, -0.18607658,  0.10973643,  0.2119783 ,  0.24073566,
         -0.18088289,  0.21400924,  0.18904465,  0.05207201, -0.21133952,
          0.247929  ,  0.11467847,  0.21312265,  0.19659802, -0.10511905,
         -0.21219096, -0.17890845],
        [ 0.11948653, -0.13136931,  0.10426308,  0.3505519 ,  0.31600142,
         -0.32948446,  0.30525216,  0.3088015 , -0.00783463, -0.22288117,
          0.19944812,  0.05813633,  0.11685727,  0.13461244, -0.1513958 ,
         -0.13962963, -0.33049056],
        [ 0.02869872, -0.18674235,  0.17713551,  0.06570877,  0.16253975,
         -0.14332786,  0.1743341 ,  0.05855466,  0.22767399, -0.09349857,
          0.07442123, -0.38788933,  0.17868695,  0.25265324, -0.2979716 ,
         -0.11825583, -0.03945841],
        [ 0.37929267, -0.22558057,  0.29641664,  0.13798186,  0.17428468,
         -0.16322204,  0.10453338,  0.18077698,  0.1327219 , -0.27045852,
          0.2009385 ,  0.1341174 ,  0.14552666,  0.2806392 , -0.02933537,
         -0.10095037, -0.17500046],
        [ 0.409364  , -0.26337704,  0.21481998,  0.16067739,  0.15580739,
         -0.3264027 ,  0.19733264,  0.27058062,  0.07919446, -0.4325755 ,
          0.31672868,  0.647895  ,  0.1496081 ,  0.23755707,  0.04658863,
         -0.06037766, -0.24323867]], dtype=float32),
 'education': array([[-0.38068944,  0.28985274],
        [-0.308726  ,  0.30023918],
        [-0.18988381,  0.46631435]], dtype=float32),
 'gender': array([[0.38233313],
        [0.38486874]], dtype=float32),
 'recruitment_channel': array([[-0.29799673,  0.37393624],
        [-0.31355464,  0.3837454 ],
        [-0.39704534,  0.2786043 ]], dtype=float32)}

In [13]:
# if you don't like the dictionary format; convert it to dataframe for easy readibility
dfs = ce.get_embeddings_in_dataframe(embeddings=embeddings, encoders=encoders)

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

In [15]:
dfs['department']

,department_embedding_0,department_embedding_1,department_embedding_2,department_embedding_3,department_embedding_4
Analytics,0.449097,0.592682,-0.268915,-0.607664,-0.476886
Finance,0.144395,0.238316,-0.099049,-0.188486,-0.237083
HR,0.022800,0.147683,0.004303,-0.052294,-0.060762
Legal,0.086517,0.330486,-0.100825,-0.247180,-0.234397
Operations,0.069307,0.261836,-0.099448,-0.221517,-0.249157
Procurement,0.324672,0.132849,-0.490515,-0.137674,-0.350336
R&D,0.395571,0.630304,-0.317113,-0.643205,-0.502450
Sales & Marketing,0.105141,0.003824,-0.168007,0.143321,-0.096353
Technology,0.506522,0.338047,-0.457855,-0.326127,-0.348761

In [16]:
dfs['education']

                  education_embedding_0  education_embedding_1
Bachelor's                    -0.380689               0.289853
Below Secondary               -0.308726               0.300239
Master's & above              -0.189884               0.466314

In [20]:
# include these embeddings in your dataset:
data = ce.fit_transform(X, embeddings=embeddings, encoders=encoders, drop_categorical_vars=True)
data.head()

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,department_embedding_0,department_embedding_1,department_embedding_2,...,region_embedding_12,region_embedding_13,region_embedding_14,region_embedding_15,region_embedding_16,education_embedding_0,education_embedding_1,gender_embedding_0,recruitment_channel_embedding_0,recruitment_channel_embedding_1
0,1,35,5.0,8,1,0,49,0.105141,0.003824,-0.168007,...,0.178687,0.252653,-0.297972,-0.118256,-0.039458,-0.189884,0.466314,0.382333,-0.397045,0.278604
1,1,30,5.0,4,0,0,60,0.069307,0.261836,-0.099448,...,0.196460,0.210553,-0.130724,-0.215601,-0.147089,-0.380689,0.289853,0.384869,-0.297997,0.373936
2,1,34,3.0,7,0,0,50,0.105141,0.003824,-0.168007,...,0.179156,0.165248,-0.212073,-0.186645,-0.157056,-0.380689,0.289853,0.384869,-0.397045,0.278604
3,2,39,1.0,10,0,0,50,0.105141,0.003824,-0.168007,...,0.137184,0.316768,-0.195833,-0.188082,-0.012853,-0.380689,0.289853,0.384869,-0.297997,0.373936
4,1,45,3.0,2,0,0,73,0.506522,0.338047,-0.457855,...,0.193554,0.230044,-0.097342,-0.129108,-0.080017,-0.380689,0.289853,0.384869,-0.297997,0.373936